

nav{
    margin: 0;
    overflow: hidden;

    padding: 0;
    background-color: violet;
    position:sticky;
}
h1 #top{
    font-family: sans-serif;
    font-size: large;
    background-color: green;
}
a:hover{
    display: block;
    background-color: rgb(110, 251, 246);
}
a {
    display: block;
    text-decoration: none;
    float: left;
    text-align: center;
    padding:14px 16px ;
    font-size:larger;

}
a.about{
    margin-right:0;
    float:right;
    display: block;
    background-color: aquamarine;
}
body{
    background-color: rgb(222, 235, 235);
    margin-left: 40px;
    margin-right: 40px;
}

.i1{
    border-width:thick;
    border:5px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30 ; 
    margin:30px;
}
#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
